fabric/organ_chain/TOPO1/Experiment 1/logs_1_2_5s
fabric/organ_chain/TOPO1/Experiment 1/logs_2_2_5s
fabric/organ_chain/TOPO1/Experiment 1/logs_2s
fabric/organ_chain/TOPO1/Experiment 1/logs_5s

fabric/organ_chain/TOPO1/Experiment 2 (Abs Max Bytes)/logs_2_1
fabric/organ_chain/TOPO1/Experiment 2 (Abs Max Bytes)/logs_2_2
fabric/organ_chain/TOPO1/Experiment 2 (Abs Max Bytes)/logs_2_3
fabric/organ_chain/TOPO1/Experiment 2 (Abs Max Bytes)/logs_2_4

fabric/organ_chain/TOPO1/Experiment 3 (Endorsement Policy)/logs_3_1
fabric/organ_chain/TOPO1/Experiment 3 (Endorsement Policy)/logs_3_2
fabric/organ_chain/TOPO1/Experiment 3 (Endorsement Policy)/logs_3_3
fabric/organ_chain/TOPO1/Experiment 3 (Endorsement Policy)/logs_3_4

fabric/organ_chain/TOPO1/Experiment 4 (Transaction Rate)/logs_4_1
fabric/organ_chain/TOPO1/Experiment 4 (Transaction Rate)/logs_4_2
fabric/organ_chain/TOPO1/Experiment 4 (Transaction Rate)/logs_4_3
fabric/organ_chain/TOPO1/Experiment 4 (Transaction Rate)/logs_4_4

data/
data2/
